ul.tools.cf
  span
  li
    a(href="/") Tasks
  li
    a(href="/#/unassigned")
      span.circle.unassigned_count 2
      | Unassigned
  li
    a(href="/#/new") New
  li
    a(href="/#/users") Users

div.unassigned
  ul
